:root  > * {
  --md-primary-fg-color:        #85A79D;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;

  --md-accent-fg-color:        #85A79D;
  --md-accent-fg-color--light: #ECB7B7;
  --md-accent-fg-color--dark:  #90030C;
}



