:root  > * {
  --md-primary-fg-color:        #fc691d;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;

  // Accent color shades
  --md-accent-fg-color:                #fc691d;
  --md-accent-fg-color--transparent:   #fc691d;
  --md-accent-bg-color:                #fc691d;
  --md-accent-bg-color--light:         #fc691d;
}
